body{
    height: 100vh;
    background: linear-gradient(135deg, #e2a2ff, #6c5ce7) !important; 
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    overflow: hidden;
    border: 0 !important;
    border-radius: 30px !important;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2) !important; 
}

.card-body{
    padding: 2rem;
}

.title{
    margin-bottom: 2rem;
}

.form-input{
    position: relative;
}

.form-input input{
    width: 100%; 
    height: 60px;
    padding-left: 50px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: none;
    border: 2px solid #00000020;
    border-radius: 40px;
    outline: none;
    background: transparent;
}

.form-input span{
    position: absolute; 
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #007bff;
    padding-left: 0;
}

.form-input input::placeholder{
    color: black;
    padding-left: 0; 
}

.form-input input:focus, .form-input input:valid{
    border: 2px solid #007bff;
}

.form-input input:focus::placeholder{
    color: #454b69;
}

.form-box button[type="submit"]{
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    background: #6c5ce7; 
    color: #fff;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.3s;
    padding: 12px;
}

.form-box button[type="submit"]:hover{
    background: #5a4bcf;
}

.forget-link, .register-link{
    color: #007bff;
    font-weight: bold;
}

.forget-link:hover, .register-link:hover{
    color: #0069d9;
    text-decoration: none;
}

.form-box .btn-social{
    color: white !important;
    border: 0;
    font-weight: bold;
}

.form-box .btn-facebook{
    background: #4866a8;
}

.form-box .btn-google{
    background: #da3f34;
}

.form-box .btn-twitter{
    background: #33ccff;
}

.form-box .btn-facebook:hover{
    background: #3b5998;
}

.form-box .btn-google:hover{
    background: #bf3b31;
}

.form-box .btn-twitter:hover{
    background: #2eb7e5;
}